.listTask {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -140px;
}

.createdTask {
    background: var(--gray-500);
    width: 60rem;
    height: 6.75rem;
    padding: 1.2rem;
    border-radius: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 12px;
}

.iconAndContent input[type="checkbox"] {
    color: red;
}

.statusTaskButtonComplete {
    border: none;
    background: none;
    color: var(--purple-400);
    display: flex;
    cursor: pointer;
    transition: 0.5s;
    border: 0;
    line-height: 0;
    border-radius: 50%;
}

.createdTask button:last-child {
    border: none;
    background: none;
    margin-left: 600px;
    color: var(--gray-300);
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}

.createdTask button:last-child:hover {
    color: var(--red-300);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.statusTask {
    color: rgba(255, 255, 255, 0.751);
}

.statusTaskComplete {
    color: var(--gray-300);
    text-decoration: line-through;
}

.iconAndContent {
    width: 70%;
    display: flex;
    align-items: center;
}
